In [1]:
''' Loading Dataset'''
import pandas as pd
from datasets import *

In [5]:
train_data = pd.read_parquet("./train.parquet")
train_data.head()

test_data = pd.read_parquet("./test.parquet")
test_data.head()

                                                text  label
0  This cowardly and offensive film had me intrig...      0
1  Heavily re-edited and often confusing, the ori...      0
2  The character of Tarzan has been subjected to ...      0
3  This film is about a group of five friends who...      0
4  Set in a post-apocalyptic environment, cyborgs...      0

In [9]:
train_dataset = Dataset.from_pandas(train_data)
train_dataset

Dataset({
    features: ['text', 'label'],
    num_rows: 22500
})

In [8]:
test_dataset = Dataset.from_pandas(test_data)
test_dataset

Dataset({
    features: ['text', 'label'],
    num_rows: 2500
})